body
{
    background-image: url('https://images.pexels.com/photos/1036857/pexels-photo-1036857.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.heading
{
  text-align: center;
  border: 12px solid white;
  width: 50%;
  margin: 0 auto;
}

.heading h1
{
  color: rgb(2, 22, 53);
  font-size: 68px;
  font-weight: 800;
}
.links
{
  color: white;
}
.btn
{
  width: 50%;
  font-size: 30px;
  border: 5px solid rgb(2, 22, 53);
  font-weight: 500;
}
.btn:hover
{
  background-color: rgb(2, 22, 53);
  border: 5px solid white;
}
.content
{
  margin-top: 50px;
  text-align: center;
  width: 25%;
  margin-left: 70%;
}